.overlay {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #9292928a;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.32, 1.01, 0, 0.99),
    visibility 0.3s cubic-bezier(0.68, 0.01, 1, 1.01);

  .drawer {
    border-radius: 0 20px 20px 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 385px;
    background: #fff;
    box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    h2 {
      display: flex;
      justify-content: space-between;
      width: 325px;
      margin: 32px auto auto 30px;
      color: #000;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 50px;
      .btn-remove {
        width: 30px;
        cursor: pointer;
      }
      .btn-remove svg:hover {
        fill: #ad2e2e;
      }
    }

    .cartEmply {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__img {
        width: 120px;
        // height: 120px;
        margin: 0;
      }
      &__h2 {
        margin: 21px 0 0 0;
        display: block;
        text-align: center;
      }
      & p {
        margin: 9px 0 0 0;
        text-align: center;
        text-wrap: balance;
        color: #c5c5c5;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
      &__btn {
        margin-top: 40px;
        position: relative;
        width: 245px;
        height: 55px;
        flex-shrink: 0;
        border: 1px solid #9dd458;
        background: #9dd458;
        border-radius: 18px;
        transition: all 0.5s;

        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        & img {
          position: absolute;
          top: 21px;
          left: 30px;
          transition: all 0.5s ease-in-out;
        }
      }
      &__btn:hover {
        box-shadow: 8px 7px 15px 1px #000;
        transform: translateY(-5px) translateX(-5px);
        & img {
          left: 15px;
        }
      }
    }

    .items {
      padding-bottom: 10px;
      flex: 1;
      overflow: auto;
      background-color: #faf9f9;

      .cartItem {
        border: 1px solid #bdbdbd;
        background-color: #fff;
        border-radius: 14px;
        margin: 10px auto auto;
        width: 325px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        .card__img {
          margin: 0 auto;
          width: 70px;
          height: 70px;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 8px;
          p {
            margin: 0;
          }
          b {
            font-weight: 700;
          }
        }

        &__btn-remove {
          cursor: pointer;
          margin: 0 auto;
        }
      }
    }

    &__decor {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      ul {
        width: 325px;
        margin: 0 auto;
        li {
          display: flex;
          margin-bottom: 20px;

          span {
            padding-right: 7px;
            font-size: 16px;
          }
          div {
            flex: 1;
            border-bottom: 1px dashed #dfdfdf;
            margin-bottom: 4px;
          }
          b {
            color: #000;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding-left: 7px;
          }
        }
      }

      .greenButton {
        position: relative;
        margin: 24px auto 30px;
        width: 325px;
        height: 55px;
        border-radius: 18px;
        border: none;
        background: #9dd458;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        transition: all 0.5s ease-in-out;

        // не активный элемент
        &:disabled {
          animation: button-loading 0.8s ease-in-out infinite;
          background-color: #dadada !important;
          cursor: default;
          &:hover {
            transform: none;
            background: #dadada;
            box-shadow: none;
            img {
              transform: none;
            }
          }
        }
      }

      .greenButton img {
        position: absolute;
        text-align: center;
        top: 21px;
        right: 40px;
        transition: all 0.5s ease-in-out;
      }

      .greenButton:hover {
        background: #7dac43;
        box-shadow: 5px 5px 28px 0 rgba($color: #252525, $alpha: 0.3);
        transform: translateY(-3px) translateX(4px);
        img {
          transform: translateX(15px);
        }
      }
    }
  }
}
.overlayVisible {
  visibility: visible;
  opacity: 1;
}
