.card {
  position: relative;
  width: 210px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  background: #ffffff;
  padding: 20px 0 34px 0;
  transition: box-shadow 0.5s ease-in-out, transform 0.4s ease-in-out;

  &:hover {
    border-radius: 40px;
    border: 1px solid #f8f8f8;
    background: #fff;
    box-shadow: 10px 15px 30px 0px rgba(0, 0, 0, 0.514);
    transform: translateY(-5px) translateX(-5px);
  }

  .plus {
    cursor: pointer;
  }

  .favorite {
    position: absolute;
    top: 29px;
    left: 30px;
    cursor: pointer;
  }

  &__img {
    width: 150px;
    height: 112px;
    margin: 0 30px;
  }

  &__title {
    width: 150px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 14px auto 0;
    cursor: pointer;
  }

  &__price {
    width: 150px;
    margin: 14px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    -info {
      display: flex;
      flex-direction: column;

      span {
        color: #bdbdbd;
        font-family: Inter;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
      }

      b {
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
